final/working/__pycache__/
final/frontend/.env
final/working/__pycache__/api.cpython-311.pyc
final/working/__pycache__/data_loader.cpython-311.pyc
final/working/__pycache__/main.cpython-311.pyc
final/working/__pycache__/portfolio_optimization.cpython-311.pyc
